section cite.mycite {
    font-style: italic;
}

.todo {
    color: red;
    font-weight: bold;
}

table {
    width: 100%;
}

table.simpledom td.element {
    background-color: #82838d;
    text-align: center;
    color: #d8d8d9;
}

td.text {
    background-color: #6d776d;
    color: #d8d8d9;
    padding: 2px;
}

td.deleting {
    border: 2px solid red;
}

td.moving {
    border: 2px solid yellow;
}

#twotrees .selected {
    border: 1px solid red;
}